*{color:white !important;}

body, #contenu_global, .main_2,.isc_wrapper,.champ-2,.fix-mmenu-chat,.chat-date,.footer-chat, .membre_1, .membre_1b,.les_discussions,.content-fixed,.reglage-tri-info,.sous_sous_menu1,.discussion-top-action-menu-open,.popup_v5 .content,#popup_inscription .title, #popup_contact .title, #popup_connexion .title,input,textarea,.fond_popup,.profil-sous-menu-content{
    background-color:#282828 !important;
}

.sous_menu_1_ombre,.sous_menu_3,.sous_menu_3_uni,.formfield,.bouton-blanc-large,.bouton-gauche-blanc:hover, .bouton-droite-blanc:hover, .bouton-blanc-large:hover, .bouton-entier-blanc:hover, .bouton_plus_damis:hover, .bouton-blanc-30:hover,.bouton-droite-blanc,.bouton-gauche-blanc,.sous_menu_6,.sous_menu_7{
    background:linear-gradient(#282828,#282828);
}

.select_3,#recherche{
 	background:#282828 !important;
}

.notifications-title, .notif-item-bottom,.membre_1:hover, .membre_8:hover, .membre_1b:hover, .membre_2:hover, .forum_encadre:hover, .ligne_faq:hover, .ligne_avis:hover, .ligne_notif:hover, .ligne_reponse_forum:hover,.message-item:hover{
	background-color:#4d0078 !important;
}