*{color:white !important;}

/*  HOME - MEMBRES - AMIS - FAVORIS - Infos Page Membre - Dernières Visites - Liste des messages - Recherche*/

body, .home-recherche, .content-fixed, .discussion-top-action-menu-open, .info-footer, .les_discussions, .menu, #discussion-info, .mbsc-material .mbsc-fr-w{
    background-color:#404040 !important;
}

.home-item:hover .home-item-bottom, .sub-menu__header--info, .sub-menu__item-current, .home-item.selected .home-item-bottom{
    background-color:#c02 !important; //Mettre ici la variable de chaque palette de chaque site
}

.sub-menu__item:hover{
    background-color: #5b5b5b !important;
}

.home-item-bottom, .btn-info, .btn-info-inactif, .fieldset_v5 input{
    background-color:#404040;
    border:1px solid white;
}

/* Notifications */

.reglage-tri-info, .notif-list .notif-item-bottom{
    background-color: #404040 !important;
    padding:0px !important;
}

.notif-list .notif-item-bottom{
    padding:0px !important;
}

/* PROFIL */

//besoin d une balise à la place de du style brut

#div_wrapper2{
    background-color:#404040 !important;
}

/* CHAT */

.fix-mmenu-chat, .chat-date, .footer-chat, .textarea-autosize{
    background-color: #404040 !important;
}

.message-item-selectionne{
    background-color: #c02 !important;
}

.supfooter, .pre-message{
    background-color: #404040 !important;
    border: 1px solid white;
}

.popup_v5 .content{
    background-color: #2f2f2f !important;
}
